body {
    margin: 0;
}

/* header */

h1 {
    display: inline-block;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    margin-left: 50px;
}

header {}


/* due bottoni */

.button-pressed {
    background-color: lightskyblue;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.button-unpressed {
    background-color: white;
    color: gray;
    border: solid 1px grey;
    padding: 8px;
    border-radius: 5px;
}


/* spunte verdi */
.check {
    color: green;
    background-color: rgb(255, 255, 255);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    text-align: center;
    border: solid;
    border-color: green;
    display: inline-block;
}

.uncheck {
    color: rgb(128, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    text-align: center;
    border: solid;
    border-color: rgb(128, 0, 0);
    display: inline-block;
}

li {
    list-style-type: none;margin: 5px;
}


/* icone colorate a destra del foglio */
.clouds {
    color: white;
    background-color: lightskyblue;
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    font-size: 0.7rem;
}

#q1 {
    background-color: blueviolet;
}

#recruiting {
    background-color: green;
}

#mobile {
    background-color: orange;
}

#website {
    background-color: purple;
}

#sales {
    background-color: greenyellow;
}

body {
    background-color: white;
}

main {
    width: 1000px;
    margin: 0 auto;
    background-color: lightslategray;
    padding left:0;
    padding right:0
}

header {
    background-color: lightslategray;
    margin-bottom: 50px;
}

#buttons {
    border-bottom: 1px solid white;padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    
}